.status-Blocked {
  background-color: #ffcaca;
}

.status-Ongoing {
  background-color: #fffac1;
}

.status-Completed {
  background-color: #bdffca;
}

.status-Dropped {
  background-color: #d7d7d7;
}

.date-cards-container {
  max-height: 50vh;
  overflow-y: scroll;
}
